$backgroundBody: #e4e4e4;
$white: #ffffff;
// $backgroundBody: #f1f5f9;
// $primaryColor: #3b5483;
$primaryColor: #1f468d;
$primaryColor2: #3b548365;
// $secondaryColor: #d9a075;
$secondaryColor: #e29255;
$secondaryColor2: #d9a07593;
$GhostColor: #8d8c8c;
$GhostColor2: #c9c9c98e;
$BuyColor: #51e676;
$BuyColor2: #1e2921;
$ColorNavList: #83677780;
$COlorText: #f3f8ff;
$otherColor: #7d899e1e;
$redColor:#ff4a47;
$backgroundCard: rgba(0, 0, 0, 0.2);